@using Contracts.ViewContract
@using DataModel.enums
@model TypeOrders
@{
    ViewData["Title"] = "OrderTeacherCreate";
}
<div class="text-center">
    <h2 class="display-4">Форма создания приказа</h2>
</div>
<div class="text-center">
    <form method="post">
        <div class="row">
            <div class="col-4">Тип приказа:</div>
            <div class="col-8">
                <select id="TypeOrders" name="TypeOrders" class="form-control">
                    <option value="@TypeOrders.No_type">Выберите тип</option>
                    <option value="@TypeOrders.Hiring">Найм</option>
                    <option value="@TypeOrders.Swap">Перевод</option>
                    <option value="@TypeOrders.Firing">Увольнение</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-4">Выберите кафедру:</div>
            <div class="col-8">
                <select id="department" name="department" class="form-control">
                    <option value="">Кафедра не выбрана</option>
                    @foreach (var department in ViewBag.departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-4">Выберите преподавателя:</div>
            <div class="col-8">
                 <select id="teacher" name="teacher" class="form-control">
                <option value="">Преподаватель не выбран</option>
                @foreach (var teacher in ViewBag.teachers)
                {
                    <option value="@teacher.Id">@teacher.FIO</option>
                }
            </select>
            </div>
        </div>

        <div class="row">
            <div class="col-4">Позиция преподавателя:</div>
            <div class="col-8">
                <select id="positionteacher" name="positionteacher" class="form-control">
                    <option value="@DataModel.enums.PositionTeacher.Не_указано">Выберите тип</option>
                    <option value="@DataModel.enums.PositionTeacher.Head_of_the_laboratory">Заведующий лабораториями</option>
                    <option value="@DataModel.enums.PositionTeacher.teacher">Преподаватель</option>
                    <option value="@DataModel.enums.PositionTeacher.Senior_lecturer">Старший преподаватель</option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <input type="date" class="form-control" placeholder="Дата начала" name="datestart">
        </div>
        <div class="col-auto">
            <input type="date" class="form-control" placeholder="Дата конца" name="dateend">
        </div>
        <div class="col-auto">
            <input type="number" class="form-control" placeholder="Оплата в час" name="bet" />
        </div>

        <input type="submit" name="action" value="Сохранить" class="btn btn-primary" />
    </form>
        @if (ViewBag.teacher != null && ViewBag.order != null)
        {

            <div class="card mt-4">
                <div class="card-header">
                    <h4>Приказ на настоящее время</h4>
                </div>
                <div class="card-body">
                    <p><strong>Тип приказа:</strong> @ViewBag.order.TypeOrders</p>
                <p>
                    <strong>Кафедра:</strong>
                    @{
                        var department = ((List<DepartmentView>)ViewBag.departments)?.FirstOrDefault(d => d.Id == ViewBag.teacher.DepartmentId);
                        @(department?.Name ?? "Кафедра не указана")
                    }
                </p>
                    <p><strong>Преподаватель:</strong> @ViewBag.teacher.FIO</p>
                    <p><strong>Позиция преподавателя:</strong> @ViewBag.teacher.PositionTeacher</p>
                    @if (ViewBag.order.TypeOrders == TypeOrders.Swap.ToString())
                    {
                        <p><strong>Дата перевода:</strong> @ViewBag.teacher.DateSwap?.ToString("dd.MM.yyyy")</p>
                    }
                    else
                    {
                        <p><strong>Дата принятия:</strong> @ViewBag.teacher.DateStart?.ToString("dd.MM.yyyy")</p>
                    }
                <p><strong>Дата конца:</strong> @ViewBag.teacher.DateEnd.ToString("dd.MM.yyyy")</p>
                    <p><strong>Оплата в час:</strong> @ViewBag.teacher.bet</p>
                </div>
            </div>
        }


</div>
